<section class="hotels-results">
    <div class="content-wrapper results-wrapper">
        <aside class="filters">
            <div class="title-wrapper" ng-click="showAllFiltersContent = !showAllFiltersContent">Filtros</div>
            <div class="filter" ng-class="showAllFiltersContent?'hidden':''">
                <div class="filter-title-wrapper" ng-click="showNameFilterContent = !showNameFilterContent">
                    <img src="img/icons/filters/search.svg" alt="Search" class="filter-icon">
                    <span class="filter-title">Nombre del hotel</span>
                </div>
                <div class="filter-content" ng-class="showNameFilterContent?'hidden':''">
                    <div class="search-filter">
                        <input type="text" class="search" ng-model="searchField" placeholder="Ingrese el nombre del hotel" ng-keyup="$event.keyCode == 13 ? applyFilter($event) : null">
                        <input type="submit" class="submit" value="Aceptar" ng-click="applyFilter($event)">
                    </div>
                </div>
            </div>

            <div class="filter" ng-class="showAllFiltersContent?'hidden':''">
                <div class="filter-title-wrapper" ng-click="showStarsFilterContent = !showStarsFilterContent">
                    <img src="img/icons/filters/star.svg" alt="Search" class="filter-icon">
                    <span class="filter-title">Estrellas</span>
                </div>
                <div class="filter-content" ng-class="showStarsFilterContent?'hidden':''">
                    <div class="stars-filter">
                        <div class="star-wrapper">
                            <label class="star-label">
                                <input type="checkbox" name="star" value="0" class="star-check" ng-click="applyFilter($event)"> Todas las estrellas
                            </label>
                        </div>
                        <div class="star-wrapper">
                            <label class="star-label">
                                <input type="checkbox" name="star" value="5" class="star-check" ng-click="applyFilter($event)">
                                <span class="stars">★★★★★</span>
                            </label>
                        </div>
                        <div class="star-wrapper">
                            <label class="star-label">
                                <input type="checkbox" name="star" value="4" class="star-check" ng-click="applyFilter($event)">
                                <span class="stars">★★★★</span>
                            </label>
                        </div>
                        <div class="star-wrapper">
                            <label class="star-label">
                                <input type="checkbox" name="star" value="3" class="star-check" ng-click="applyFilter($event)">
                                <span class="stars">★★★</span>
                            </label>
                        </div>
                        <div class="star-wrapper">
                            <label class="star-label">
                                <input type="checkbox" name="star" value="2" class="star-check" ng-click="applyFilter($event)">
                                <span class="stars">★★</span>
                            </label>
                        </div>
                        <div class="star-wrapper">
                            <label class="star-label">
                                <input type="checkbox" name="star" value="1" class="star-check" ng-click="applyFilter($event)">
                                <span class="stars">★</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="hotels-list">
            <div class="hotel" ng-repeat="hotel in hotels">
                <div class="hotel-data-wrapper">
                    <div class="hotel-thumb-wrapper">
                        <img ng-src="img/hotels/{{hotel.image}}" alt="" class="hotel-thumb">
                    </div>
                    <div class="hotel-data">
                        <div class="hotel-name">{{hotel.name}}</div>
                        <div class="hotel-stars">
                            <span class="star" ng-repeat="star in [].constructor(hotel.stars) track by $index">★</span>
                        </div>
                        <div class="amenities-wrapper">
                            <div class="amenity" ng-repeat="amenity in hotel.amenities">
                                <img ng-src="img/icons/amenities/{{amenity}}.svg" alt="Amenity" class="amenity-icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hotel-price">
                    <div class="price-label">Precio por noche por habitación</div>
                    <div class="price">
                        <span class="currency">ars</span>
                        <span class="value">{{hotel.price}}</span>
                    </div>
                    <a href="#" class="see-button">Ver hotel</a>
                </div>
            </div>
            <div ng-show="!hotels.length" class="not-found">No se han encontrado coincidencias.</div>
        </div>
    </div>
</section>