@charset "UTF-8";
body {
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.content-wrapper {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 15px 0;
  background-color: #0e4083;
}
.header .logo-wrapper {
  max-width: 250px;
}
.header .logo-wrapper .logo {
  display: block;
  width: 100%;
}

.filters {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
  background-color: #FFF;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .filters {
    min-width: 100%;
    margin-bottom: 20px;
  }
}
.filters .title-wrapper {
  padding: 15px;
  font-weight: bold;
  border-bottom: 4px solid #EEE;
}
@media (max-width: 768px) {
  .filters .title-wrapper {
    text-align: center;
    color: #2b79b3;
  }
  .filters .title-wrapper:hover {
    color: #002979;
  }
  .filters .title-wrapper::after {
    content: "▾";
    top: 50%;
    right: 0px;
    color: #2b79b3;
    transform: translateY(-50%);
  }
  .filters .title-wrapper::after:hover {
    color: #002979;
  }
}
.filters .filter {
  border-bottom: 4px solid #EEE;
  display: flex;
  flex-direction: column;
}
.filters .filter:last-child {
  border: 0px;
}
.filters .filter .filter-title-wrapper {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 0;
}
.filters .filter .filter-title-wrapper .filter-icon {
  flex: 0;
  display: block;
  max-width: 16px;
  max-height: 16px;
  margin: 0 10px 0 0;
}
.filters .filter .filter-title-wrapper .filter-title {
  flex: 1;
  font-weight: bold;
  color: #2b79b3;
  display: block;
  position: relative;
  padding: 3px 0px;
  transition: color 0.3s ease-in-out;
}
.filters .filter .filter-title-wrapper .filter-title:hover {
  color: #002979;
}
.filters .filter .filter-title-wrapper .filter-title::after {
  content: "▾";
  position: absolute;
  top: 50%;
  right: 0px;
  color: #2b79b3;
  transform: translateY(-50%);
}
.filters .filter .filter-content {
  flex: 1;
  padding: 0 15px 15px;
  overflow: hidden;
  max-height: 100%;
}
.filters .filter .filter-content.hidden {
  padding: 0px;
  max-height: 0px;
}
.filters .filter .filter-content .search-filter {
  display: flex;
}
.filters .filter .filter-content .search-filter .search {
  flex: 1;
  margin-right: 10px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: lighter;
  border-radius: 3px;
  height: 35px;
}
.filters .filter .filter-content .search-filter .submit {
  background-color: #002979;
  border-radius: 3px;
  color: #FFF;
  font-size: 1rem;
}
.filters .filter .filter-content .stars-filter .star-wrapper {
  display: flex;
}
.filters .filter .filter-content .stars-filter .star-wrapper .star-label {
  font-size: 0.9rem;
  display: block;
  width: 100%;
  padding: 5px 0px;
}
.filters .filter .filter-content .stars-filter .star-wrapper .star-label .stars {
  color: #f7bb33;
}

.hotels-results {
  padding: 20px 0px;
}
@media (max-width: 768px) {
  .hotels-results {
    padding: 0 0 20px;
  }
  .hotels-results .content-wrapper {
    padding: 0px;
  }
}
.hotels-results .results-wrapper {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .hotels-results .results-wrapper {
    flex-direction: column;
  }
}

.hotels-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .hotels-list {
    min-width: 100%;
    padding: 0 20px;
  }
}
.hotels-list .not-found {
  color: #002979;
  font-weight: bolder;
  font-size: 1.2rem;
}
.hotels-list .hotel {
  display: flex;
  background-color: #fff;
  margin-bottom: 15px;
}
@media (max-width: 1100px) {
  .hotels-list .hotel {
    flex-direction: column;
  }
}
.hotels-list .hotel:last-child {
  margin-bottom: 0px;
}
.hotels-list .hotel .hotel-data-wrapper {
  flex: 1;
  display: flex;
  padding: 10px;
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-data-wrapper {
    flex-direction: column;
  }
}
.hotels-list .hotel .hotel-data-wrapper .hotel-thumb-wrapper {
  flex: 0;
  min-width: 280px;
  position: relative;
  overflow: hidden;
  height: 180px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-data-wrapper .hotel-thumb-wrapper {
    margin-right: 0px;
  }
}
.hotels-list .hotel .hotel-data-wrapper .hotel-thumb-wrapper .hotel-thumb {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.hotels-list .hotel .hotel-data-wrapper .hotel-data {
  flex: 1;
  border-right: 1px dashed #CCC;
}
@media (max-width: 1100px) {
  .hotels-list .hotel .hotel-data-wrapper .hotel-data {
    border: 0px;
  }
}
.hotels-list .hotel .hotel-data-wrapper .hotel-data .hotel-name {
  color: #2b79b3;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-data-wrapper .hotel-data .hotel-name {
    margin-top: 10px;
  }
}
.hotels-list .hotel .hotel-data-wrapper .hotel-data .hotel-stars {
  font-size: 1.1rem;
  color: #f7bb33;
  margin-bottom: 15px;
}
.hotels-list .hotel .hotel-data-wrapper .hotel-data .amenities-wrapper .amenity {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-data-wrapper .hotel-data .amenities-wrapper .amenity {
    margin-bottom: 20px;
  }
}
.hotels-list .hotel .hotel-data-wrapper .hotel-data .amenities-wrapper .amenity .amenity-icon {
  display: block;
  max-height: 24px;
}
.hotels-list .hotel .hotel-price {
  flex: 0;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .hotels-list .hotel .hotel-price {
    flex-direction: row;
    padding: 15px;
    justify-content: flex-end;
    border-top: 1px dashed #CCC;
  }
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-price {
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    border-top: 1px dashed #CCC;
  }
}
.hotels-list .hotel .hotel-price .price-label {
  margin-bottom: 15px;
  font-size: 0.9rem;
  color: #666;
  line-height: 1.2rem;
}
@media (max-width: 1100px) {
  .hotels-list .hotel .hotel-price .price-label {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-price .price-label {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}
.hotels-list .hotel .hotel-price .price {
  color: #e06930;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
@media (max-width: 1100px) {
  .hotels-list .hotel .hotel-price .price {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-price .price {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}
.hotels-list .hotel .hotel-price .price .currency {
  font-size: 1.2rem;
  margin-right: 5px;
  text-transform: uppercase;
}
.hotels-list .hotel .hotel-price .price .value {
  font-size: 1.8rem;
  font-weight: bolder;
}
.hotels-list .hotel .hotel-price .see-button {
  background-color: #002979;
  color: #FFF;
  font-size: 1.2rem;
  padding: 10px 40px;
  border-radius: 3px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .hotels-list .hotel .hotel-price .see-button {
    padding: 10px 105px;
  }
}

/*# sourceMappingURL=styles.css.map */
