.filters {
	flex: 1;
	max-width: 300px;
	margin-right: 20px;
	background-color: #FFF;
	box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.2);

	@media (max-width: 768px) {
		min-width: 100%;
		margin-bottom: 20px;
	}

	.title-wrapper {
		padding: 15px;
		font-weight: bold;
		border-bottom: 4px solid #EEE;

		@media (max-width: 768px) {
			text-align: center;
			color: $primary-color;

			&:hover {
				color: $secondary-color;
			}

			&::after {
				content: "▾";
				top: 50%;
				right: 0px;
				color: $primary-color;
				transform: translateY(-50%);

				&:hover {
					color: $secondary-color;
				}

			}
		}
	}

	.filter {
		border-bottom: 4px solid #EEE;
		display: flex;
		flex-direction: column;

		&:last-child {
			border: 0px;
		}

		.filter-title-wrapper {
			padding: 15px;
			display: flex;
			align-items: center;
			cursor: pointer;
			flex: 0;

			.filter-icon {
				flex: 0;
				display: block;
				max-width: 16px;
				max-height: 16px;
				margin: 0 10px 0 0;
			}

			.filter-title {
				flex: 1;
				font-weight: bold;
				color: $primary-color;
				display: block;
				position: relative;
				padding: 3px 0px;
				transition: color 0.3s ease-in-out;

				&:hover {
					color: $secondary-color;
				}

				&::after {
					content: "▾";
					position: absolute;
					top: 50%;
					right: 0px;
					color: $primary-color;
					transform: translateY(-50%);
				}
			}
		}

		.filter-content {
			flex: 1;
			padding: 0 15px 15px;
			overflow: hidden;
			max-height: 100%;

			&.hidden {
				padding: 0px;
				max-height: 0px;
			}

			.search-filter {
				display: flex;

				.search {
					flex: 1;
					margin-right: 10px;
					background-color: #fff;
					font-size: 1rem;
					font-weight: lighter;
					border-radius: 3px;
					height: 35px;
				}

				.submit {
					background-color: $secondary-color;
					border-radius: 3px;
					color: #FFF;
					font-size: 1rem;
				}
			}

			.stars-filter {
				.star-wrapper {
					display: flex;

					.star-label {
						font-size: 0.9rem;
						display: block;
						width: 100%;
						padding: 5px 0px;

						.star-check {
							
						}

						.stars {
							color: $stars-yellow;
						}
					}
				}
			}
		}
	}
}