.hotels-list {
	flex: 1;
	display: flex;
	flex-direction: column;

	@media (max-width: 768px) {
		min-width: 100%;
		padding: 0 20px;
	}

	.not-found {
		color: $secondary-color;
		font-weight: bolder;
		font-size: 1.2rem;
	}

	.hotel {
		display: flex;
		background-color: #fff;
		margin-bottom: 15px;

		@media (max-width: 1100px) {
			flex-direction: column;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		.hotel-data-wrapper {
			flex: 1;
			display: flex;
			padding: 10px;

			@media (max-width: 768px) {
				flex-direction: column;
			}

			.hotel-thumb-wrapper {
				flex: 0;
				min-width: 280px;
				position: relative;
				overflow: hidden;
				height: 180px;
				margin-right: 15px;

				@media (max-width: 768px) {
					margin-right: 0px;
				}

				.hotel-thumb {
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					min-width: 100%;
					min-height: 100%;
				}
			}

			.hotel-data {
				flex: 1;
				border-right: 1px dashed #CCC;

				@media (max-width: 1100px) {
					border: 0px;
				}

				.hotel-name {
					color: $primary-color;
					font-weight: bolder;
					font-size: 1.2rem;
					margin-bottom: 10px;

					@media (max-width: 768px) {
						margin-top: 10px;
					}
				}

				.hotel-stars {
					font-size: 1.1rem;
					color: $stars-yellow;
					margin-bottom: 15px;
				}

				.amenities-wrapper {
					.amenity {
						display: inline-block;
						width: 24px;
						height: 24px;
						margin-right: 5px;

						@media (max-width: 768px) {
							margin-bottom: 20px;
						}

						.amenity-icon {
							display: block;
							max-height: 24px;
						}
					}
				}
			}
		}

		.hotel-price {
			flex: 0;
			min-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			display: flex;
			flex-direction: column;
			
			@media (max-width: 1100px) {
				flex-direction: row;
				padding: 15px;
				justify-content: flex-end;
				border-top: 1px dashed #CCC;
			}

			@media (max-width: 768px) {
				flex-direction: column;
				padding: 15px;
				justify-content: center;
				border-top: 1px dashed #CCC;
			}

			.price-label {
				margin-bottom: 15px;
				font-size: 0.9rem;
				color: #666;
				line-height: 1.2rem;

				@media (max-width: 1100px) {
					margin-bottom: 0px;
					margin-right: 15px;
				}

				@media (max-width: 768px) {
					margin-bottom: 10px;
					margin-right: 0px;
				}
			}

			.price {
				color: $price-orange;
				margin-bottom: 15px;
				display: flex;
				align-items: center;

				@media (max-width: 1100px) {
					margin-bottom: 0px;
					margin-right: 15px;
				}

				@media (max-width: 768px) {
					margin-bottom: 10px;
					margin-right: 0px;
				}

				.currency {
					font-size: 1.2rem;
					margin-right: 5px;
					text-transform: uppercase;
				}

				.value {
					font-size: 1.8rem;
					font-weight: bolder;
				}
			}

			.see-button {
				background-color: $secondary-color;
				color: #FFF;
				font-size: 1.2rem;
				padding: 10px 40px;
				border-radius: 3px;
				text-decoration: none;

				@media (max-width: 768px) {
					padding: 10px 105px;
				}
			}
		}
	}
}