.hotels-results {
	padding: 20px 0px;

	@media (max-width: 768px) {
		padding: 0 0 20px;

		.content-wrapper {
			padding: 0px;
		}
	}

	.results-wrapper {
		display: flex;
		align-items: flex-start;

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
}